<div class="container mt-3">
    <div class="login">
        <h2 id="login">Login Form</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Username</label>
                <input type="text" class="form-control" formControlName="userName" placeholder="Enter User Name">
            </div>
            <br>
            <div>
                <label for="active">Password</label>
                <div class="pass">
                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}" class="form-control"
                        formControlName="password" placeholder="Enter Password">
                    <span class="material-symbols-outlined" (click)="showPassword()"
                        *ngIf="isPasswordVisible == false">visibility_off</span>
                    <span class="material-symbols-outlined" (click)="showPassword()"
                        *ngIf="isPasswordVisible == true">visibility</span>
                </div>
            </div>
            <hr>
            <div class="finalSubmit">
                <button class="btn btn-success submit" type="submit">Submit</button>
                <p class="newUser" routerLink="/register">New User? <button class="btn btn-light" type="submit">Register</button></p>
            </div>
        </form>
    </div>
</div>