<div id="my-other-element" joyrideStep="fourthStep" [stepContent]="customContent3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In voluptas reprehenderit ipsa
    vitae eum reiciendis, eius animi qui sunt vel repellendus optio omnis neque similique, vero, at asperiores officia?
    Libero porro ullam at? Dolorum corrupti laudantium ratione, in laboriosam fugiat temporibus autem architecto, illo,
    accusamus neque reprehenderit. At harum ipsum eaque sit temporibus exercitationem, maxime tenetur vel eum possimus
    pariatur et voluptates repellendus omnis qui quaerat dicta sed dolorem assumenda accusamus soluta culpa eos error.
    Cum cupiditate expedita facilis, ut quae quam quasi, odit suscipit, quod rem dolores ipsam vero dolore esse aperiam
    animi. Eveniet, vitae. Voluptatem repudiandae deleniti porro ab tempore enim laboriosam magni officiis, assumenda
    illo quos voluptatum ducimus, harum placeat sapiente laudantium nemo perferendis soluta dolore veritatis.
</div>


<div id="myElement">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In voluptas reprehenderit ipsa
    vitae eum reiciendis, eius animi qui sunt vel repellendus optio omnis neque similique, vero, at asperiores officia?
    Libero porro ullam at? Dolorum corrupti laudantium ratione, in laboriosam fugiat temporibus autem architecto, illo,
    accusamus neque reprehenderit. At harum ipsum eaque sit temporibus exercitationem, maxime tenetur vel eum possimus
    pariatur et voluptates repellendus omnis qui quaerat dicta sed dolorem assumenda accusamus soluta culpa eos error.
    Cum cupiditate expedita facilis, ut quae quam quasi, odit suscipit, quod rem dolores ipsam vero dolore esse aperiam
    animi. Eveniet, vitae. Voluptatem repudiandae deleniti porro ab tempore enim laboriosam magni officiis, assumenda
    illo quos voluptatum ducimus, harum placeat sapiente laudantium nemo perferendis soluta dolore veritatis.
</div>

<ng-template #customContent3 let-person="name">This is Dashboard</ng-template>
